---
layout: default
ref: index
lang: la
---

<div class="home">

  {% include boethius_quote.html %}

  <h1 class="page-heading">Edita</h1>

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%m-%-d-%Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt | remove: '</p>' }}<a href="{{ post.url | prepend: site.baseurl }}"><em>plus</em></a></p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Captetur <a href="{{ "/fluxus.xml" | prepend: site.baseurl }}">fluxus RSS</a></p>

</div>
